.chart-container{
    box-sizing: border-box;
    position: relative;
    display: block;
    height:100%; 
    width:100%;
}

.chart-text {
    margin: auto!important; 
    display: block;
    position: absolute;
    text-align: center;
    left: 0px;
    top:45%;
    width: 100%;
}
.chart-text p{
    font-size: large;
}