<div style="width: 80%; margin: 0 auto">
    <div style="display: flex; flex-direction: row;">
        <nb-card style="display: block;flex: 2;height: 300px;">
            <nb-card-header></nb-card-header>            
        </nb-card>
        <nb-card style="display: block;flex: 3;height: 300px;">
            <nb-card-header>
                <h1>Net Worth</h1>
            </nb-card-header>             
        </nb-card>
        <nb-card style="display: block;flex: 2;height: 300px;">
            <nb-card-header></nb-card-header>             
        </nb-card>
    </div>
</div>
