<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-collapse w3-animate-left" style="z-index:3;width:270px" id="mySidebar">
    <div class="w3-bar w3-hide-large w3-large">
      <a href="javascript:void(0)" onclick="w3_show_nav('menuTut')" class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16" style="width:50%">Tutorials</a>
      <a href="javascript:void(0)" onclick="w3_show_nav('menuRef')" class="w3-bar-item w3-button w3-theme w3-hover-white w3-padding-16" style="width:50%">References</a>
    </div>
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-right w3-xlarge w3-hide-large" title="Close Menu">×</a>
    <div id="menuTut" class="myMenu">
    <div class="w3-container">
      <h3>Tutorials</h3>
    </div>
    <a class="w3-bar-item w3-button" href="/html/default.asp">Learn HTML</a>
    <a class="w3-bar-item w3-button" href="/css/default.asp">Learn CSS</a>
    <a class="w3-bar-item w3-button" href="/w3css/default.asp">Learn W3.CSS</a>
    <a class="w3-bar-item w3-button" href="/colors/default.asp">Learn Colors</a>
    <a class="w3-bar-item w3-button" href="/js/default.asp">Learn JavaScript</a>
    <a class="w3-bar-item w3-button" href="/xml/default.asp">Learn XML</a>
    <a class="w3-bar-item w3-button" href="/sql/default.asp">Learn SQL</a>
    <a class="w3-bar-item w3-button" href="/php/default.asp">Learn PHP</a>
    </div>
    <div id="menuRef" class="myMenu" style="display:none">
    <div class="w3-container">
      <h3>References</h3>
    </div>
    <a class="w3-bar-item w3-button" href='/tags/default.asp'>HTML Tag Reference</a>
    <a class="w3-bar-item w3-button" href='/colors/default.asp'>HTML Color Reference</a>
    <a class="w3-bar-item w3-button" href='/cssref/default.asp'>CSS Reference</a>
    <a class="w3-bar-item w3-button" href='/cssref/css_selectors.asp'>CSS Selector Reference</a>
    <a class="w3-bar-item w3-button" href='/w3css/w3css_references.asp'>W3.CSS Reference</a>
    <a class="w3-bar-item w3-button" href='/jsref/default.asp'>JavaScript Reference</a>
    <a class="w3-bar-item w3-button" href='/php/php_ref_array.asp'>PHP Reference</a>
    <a class="w3-bar-item w3-button" href='/sql/sql_quickref.asp'>SQL Reference</a>
    </div>
  </div>
