<div class="container1" >
  <div class="container">
    <div class="left">
      <nb-card>
        <nb-card-body>
          <app-loan-timeline [loanObject]="loanColl"> </app-loan-timeline>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>
          <h5>Summary of Loans</h5>
        </nb-card-header>
        <nb-accordion>
          <nb-accordion-item
            *ngFor="let loan of loans; let i = index"
            (collapsedChange)="renderChart(loan.entityID)"
          >
            <nb-accordion-item-header>
              <div style="display:flex">
                <div style="display: block;">
                  <h5>  
                    {{ loan.type }}
                  </h5>
                </div>
                <div style="display: block;">
                  <h3>
                    {{ '$' + thousands_separators(loan.outstandingBalance)}}
                  </h3>
                </div>
              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <app-loan-display-card
                [loanId]="'loanChartID' + loan.entityID"
                [loanData]="loan"
              >
              </app-loan-display-card>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card>
    </div>
    <div class="right">
      <nb-card>
        <nb-card-body>
          <app-chart-js
            [data]="data"
            [options]="options"
            [chartId]="'testchart'"
            [chartType]="'doughnut'"
            [middleText]=" '$' +thousands_separators(loanColl.outstandingBalance)"
            [selfRender]="true"
            #totalDougnutChart
          >
          </app-chart-js>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
