<div class="container">
    <div class="w3-row">
        <div class="w3-twothird w3-container">
            <nb-card>
                <nb-card-body>
                    <app-loans-timeline
                        [loanId] = "'loanChartID'"
                        [loansData] = "loans">
                    </app-loans-timeline>
                </nb-card-body>
            </nb-card>
            <nb-accordion>
                <nb-accordion-item *ngFor="let loan of loans; let i = index" (collapsedChange)="renderChart(loan.entityID)">
                    <nb-accordion-item-header>
                        {{loan.type}}
                    </nb-accordion-item-header>
                    <nb-accordion-item-body>
                        <app-loan-display-card 
                            [loanId] = "'loanChartID' + loan.entityID"
                            [loanData] = "loan">
                        </app-loan-display-card>
                    </nb-accordion-item-body>
                </nb-accordion-item>
            </nb-accordion>
        </div>
        <div class="w3-third w3-container">
            <nb-card>
                <nb-card-body>
                  Card
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>